DOCTYPE html
html(lang="en")

head
    meta(charset="UTF-8")
    title 心有猛虎，细嗅蔷薇
    link(rel="stylesheet" type="text/css" href="css/style.css")

body
    #container
        .centralize
            h1 WELCOMR TO MY BLOG
            h2 Mervyn
        .inner
            a.button(href='http://foreverz.cn') In To The Blog
    </div>
    canvas#canvas1
    canvas#canvas2
    script(type="text/javascript" src='js/star.js')
    script(type="text/javascript" src='js/cat.js')
    script(type="text/javascript" src='js/main.js')

